html,body,#app{
    height:100%;
    margin:0;
    padding:0;
    min-width: 660px;
}
.el-breadcrumb{
    margin-bottom:10px;
  }

 .el-scrollbar__wrap{
    max-height:200px;
    overflow: scroll;    
  }