html,body,#app{
    height:100%;
    margin:0;
    padding:0;
    min-width: 660px;
    color:#606266;
  font-size: 14px;
}
.el-breadcrumb{
    margin-bottom:10px;
  }

 .el-scrollbar__wrap{
    max-height:200px;
    overflow: scroll;    
  }
  /*富文本编辑器*/
.ql-container{
  height:200px;
  
}
  